#banner {
    float: right !important; 
}

body {
    background-color: rgba(127, 255, 212, 0.116);
}


.nav-wrapper {
    background-color: rgb(255, 228, 196);
}
    
h1 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: left !important;
}

#cookiejar {
    position: absolute;
    top: 70px;
    left: 20px;
    width: 478px;
}


a{
    text-decoration: none !important;
    color: black !important;
    font-size-adjust: inherit;
    font-family: 'Times New Roman', Times, serif !important;
    float:  left !important;
    
}
